*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'hv-regular';
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    display: block;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mt-0{
    margin-top: 0;
}

.mt-10{
    margin-top: 10px;
}