*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'hv-regular';
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    display: block;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}